<link rel="stylesheet" href="stylesheets/prepare.css">

<div class="sidebar col-sm-3 col-md-2" style="border: 1px solid orange;" ng-cloak>
  <ul class="nav nav-sidebar">
    <li ng-repeat="mItem in vm.menu.items" ng-class="{active: vm.menu.isActiveItem(mItem.menuId)}">
      <a href ui-sref="{{mItem.name.state}}" ng-click="vm.menu.setActiveItem(mItem.menuId)">{{mItem.name.display}}
        <span ng-if="vm.menu.isActiveItem(mItem.menuId)" class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
</div>

<div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="border: 1px solid skyblue" ng-cloak ui-view>
</div>
