<div class="col-md-6">
  <table class="table checklist-table">
    <thead>
    <tr style="background-color: pink;">
      <th>
        <input class="check-all" type="checkbox"
               ng-model="vm.allChecked" ng-change="vm.checkStateChanged()">
      </th>
      <th colspan="2">
        <input id="checklistTitle" type="text" class="checklist-item-input-text"
               ng-blur="vm.inputBlurred()"
               ng-model="vm.listTitle" ng-show="vm.isEditable">
        <span tabindex="0" class="colored-strike"
              focus-on-events="['click', 'focus']" focus-on-id="checklistTitle"
              ng-click="vm.spanFocused()" ng-focus="vm.spanFocused()"
              ng-hide="vm.isEditable"></span>
      </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
