<link rel="stylesheet" href="stylesheets/prepare.css">

<div class="sidebar col-sm-3 col-md-2" style="border: 1px solid orange;" ng-cloak>
  <ul class="nav nav-sidebar">
    <li ng-repeat="mItem in vm.menu.items" ng-class="{active: vm.menu.isActiveItem(mItem.id)}">
      <a ui-sref="mItem.stateName" ng-click="vm.menu.setActiveItem(mItem.id)">{{mItem.displayName}}
        <span ng-if="vm.menu.isActiveItem(mItem.id)" class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
</div>

<div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="border: 1px solid skyblue" ng-cloak>
  Main<br/>Prepare
</div>
