<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="MenuController as vm">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href ui-sref="home">
        {{vm.brandTitle}}
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav" ng-if="vm.isAuthenticated()">
        <li>
          <a ui-sref="prepare">Prepare</a>
          <!-- Public/Private Checklists -->
          <!-- Public Menu -->
        </li>
        <li>
          <a href="#">Trips</a>
        </li>
      </ul>
      <session-profile></session-profile>
    </div><!--/.navbar-collapse -->
  </div>
</nav>