<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title><%= title %></title>

    <% for(var i= 0; i < styles.length; i++) { %>
    <link rel="stylesheet" href="<%= styles[i] %>" />
    <% } %>

    <base href="/">
  </head>
  <body ng-app="ttfApp">
    <% include header %>

    <% include body %>

    <% include footer %>

    <script type="text/javascript" src="/javascripts/vendor.min.js"></script>
    <!--
    <script type="text/javascript" src="javascripts/site.angular.js"></script>
    -->
    <% for(var i = 0; i < scripts.length; i++) { %>
    <script type="text/javascript" src="<%= scripts[i] %>"></script>
    <% } %>

    <script id="__bs_script__">
      //<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.12.8.js'><\/script>".replace("HOST", location.hostname));
      //]]>
    </script>
  </body>
</html>
