<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">

    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/vendor.min.css">
    <link rel="stylesheet" href="/stylesheets/site.min.css">

    <% if (isDebugBuild) { %>
      <script type="text/javascript" src="/javascripts/auxiliary/helpers.js"></script>
    <% } else { %>
      <script type="text/javascript" src="/javascripts/site.helpers.min.js"></script>
    <% } %>
  </head>
  <body ng-app="ttfApp">
    <% include header %>

    <% include body %>

    <% include footer %>

    <script type="text/javascript" src="/javascripts/vendor.min.js"></script>

    <% if (isDebugBuild) { %>
      <% for (var idx = 0, len = scripts.length; idx < len; idx++) { %>
        <script type="text/javascript" src="<%= scripts[idx] %>"></script>
      <% } %>

      <script id="__bs_script__">
        //<![CDATA[
        var browserSyncUrl = 'http://HOST:3000/browser-sync/browser-sync-client.2.13.0.js'
                .replace('HOST', window.location.hostname);

        document.write('<script async src="SCRIPTSRC"><\/script>'
                        .replace('SCRIPTSRC', browserSyncUrl));
        //]]>
      </script>
    <% } else { %>
      <script type="text/javascript" src="/javascripts/site.min.js"></script>
    <% } %>
  </body>
</html>
