<div class="col-sm-5">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Role List
      </h3>
    </div>

    <div class="panel-body">
      <div class="list-group">
        <a href class="list-group-item active">
          <span class="badge">4</span>
          Role 1
        </a>
        <a href class="list-group-item">
          <span class="badge">2</span>
          Role 2
        </a>
        <a href class="list-group-item">
          <span class="badge">8</span>
          Role 3
        </a>
        <a href class="list-group-item">
          <span class="badge">0</span>
          Role 4
        </a>
        <a href class="list-group-item">
          <span class="glyphicon glyphicon-plus pull-right"></span>
          <i>Add new role...</i>
        </a>
      </div>
    </div>
  </div>
</div>
