<form class="container">
  <div class="form-group">
    <h2>Register New User</h2>
  </div>

  <div class="form-group">
    <label for="username">Desired Username</label>
    <input type="text" class="form-control" id="username">
  </div>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </div>

  <div class="form-group">
    <label for="confirmPassword">Comfirm Password</label>
    <input type="password" class="form-control" id="confirmPassword">
  </div>
</form>